* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

/*TECLADO PIANO*/
.ejercicio:nth-child(2) { position: relative; }
.ejercicio:nth-child(2)>* { margin: 0 auto; }

.teclasNegras {
    width:90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.negras {
    background: linear-gradient(rgb(95, 95, 95), rgb(38, 38, 38));
    border:2px solid black;
    border-radius: 0 0 7px 7px;
    box-shadow: 
        rgb(95, 95, 95) 0 -2px 2px 0 inset, /*Reflejo de abajo*/
        rgb(28, 28, 28) 0 -13px 2px 0 inset, /*Sombra de abajo*/
        rgb(28, 28, 28) 5px 0 2px 0 inset, /*Sombra izquierda*/
        rgb(28, 28, 28) -5px 0 2px 0 inset, /*Sombra derecha*/
        rgb(58, 58, 58) 2px 2px 5px 0; /*Sombra arrojada*/
    width: 6%;
    height: 55%;
    z-index: 3;
}
.negras:hover {
    background-color: red;
}
.teclasBlancas {
    width:100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.blancas {
    border:1px solid rgb(128, 128, 128);
    border-radius: 0 0 10px 10px;
    height: 100%;
    width: calc(100%/10);
    box-shadow: 
        rgba(0, 0, 0, 0.4) 0 2px 5px, /*Sombra arrojada entre teclas*/
        rgba(0, 0, 0, 0.3) 0 7px 10px -3px, /*Sombra arrojada debajo de las teclas*/
        rgba(0, 0, 0, 0.2) 0 -10px 3px inset; /*Sombra de abajo para la tridimensionalidad*/
}

.blancas:hover {
    box-shadow: 
        rgba(0, 0, 0, 0.3) 10px -2px 20px 0 inset, 
        rgba(0, 0, 0, 0.1) -5px -2px 20px 0 inset,
        rgba(0, 0, 0, 0.2) 0 -5px 3px inset; /*Sombra de abajo para la tridimensionalidad*/;
}

.blancas:first-of-type:hover { box-shadow: rgba(0, 0, 0, 0.3) -5px -5px 20px 0 inset; }

/* .cuerpo {
    width: 120px;
    height: 120px;
    background: rgb(192,0,255);
    background: linear-gradient(-45deg,
    rgba(192,0,255,1) 40%, 
    rgba(55,7,155,1) 40%, 
    rgba(9,9,121,1) 55%,
    rgba(27, 236, 205,1) 55%,
    rgb(27, 236, 205) 65%,
    rgba(9,9,121,1) 65%, 
    rgba(9,9,121,1) 79%,
    rgba(27, 236, 205,1) 79%);
    border-radius: 0 50% 10px 50%;
    transform:rotate(-45deg);

}

.cola1 {
    border-top:50px solid  rgba(255,255,255,0);
    border-bottom:50px solid rgba(255,255,255,0);
    border-right:100px solid rgb(27, 236, 205);
}

.pez {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    animation:
    nadar 2s linear infinite 0s alternate;
    border:1px solid;
}

@keyframes nadar {
    0% {left: 0;}
    100% {left: calc(100% - 240px);}
} */

.ejercicio:nth-child(1) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(19, 19, 19);
    border-radius: 0 0 15px 0;
}

.ejercicio:nth-child(1):hover { background-color: red; }

.ojo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
    background-color: #FFF;
    background-image: url(venas.png);
    background-size: 125%;
    box-shadow: 
        0 0 20px 5px rgba(255, 0, 0, 0.7) inset,
        2px 2px 30px 0px rgba(58, 0, 0, 0.42) inset,
        2px 2px 10px 0px rgba(28, 28, 28, 0.7);
    
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    
    position: relative;
    animation: moverOjos 10s linear 0s infinite alternate;
}
.ojo:nth-of-type(2) { animation: moverOjos 10s linear 0s infinite alternate-reverse; }
.ojo:nth-of-type(2)> * { animation: moverPupilas 3s linear 0s infinite alternate-reverse; }

.contorno {
    position: absolute;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 10px 0 rgb(75, 0, 0) inset;
    border-radius: 50%;
    animation: moverPupilas 3s linear 0s infinite alternate;
}

.pupila {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #000;
    border: 30px solid red;

    transition: border 0.2s ease-in-out;
    position:relative;
    animation: moverPupilas 3s linear 0s infinite alternate;
}

.ojo:hover .pupila { border: 15px solid red; }

@keyframes moverOjos {
    0% {left:0; top: 0;}
    25% {left: calc(100% - 400px); top:calc(100% - 200px);}
    50% {left:calc(70% - 200px); top: calc(85% - 400px); transform: rotate(360deg);}
    75% {left:calc(40% - 400px); top: calc(100% - 200px);}
    100% {left:0; top: 0;}
}

@keyframes moverPupilas {
    0% {left:0;}
    100% {left: calc(100% - 100px);}
}

.ejercicio:nth-child(3) {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flor {
    border: 1px solid magenta;
    width: 200px;
    height: 200px;
}
.pistilo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(119, 22, 100);
    transform: translate(20px, -490px);
}

.petalo {
    width: 70px;
    height: 70px;
    border-radius: 50px 0 50px 0;
    background-color: rgb(254, 140, 140);
    box-shadow: 0 0 10px 0 rgb(223, 72, 21) inset;
}

#uno {
    /* border:1px solid black; */ 
    transform: rotate(135deg); 
}

#dos {
    /* border:1px solid red; */
    transform: translate(35px, -55px);
}
#tres {
    /* border:1px solid green; */
    transform: rotate(45deg) translate(-30px, -100px);
}
#cuatro {
    /* border:1px solid purple; */
    transform: rotate(90deg) translate(-125px, -35px);
}
#cinco {    
    /* border:1px solid brown; */
    transform: rotate(135deg) translate(-130px, 130px);
}
#seis {
    /* border:1px solid rgb(0, 89, 255); */
    transform: rotate(90deg) translate(-335px, 35px);
}
#siete {
    /* border:1px solid orangered; */
    transform:rotate(45deg) translate(-299px, -228px);
}
#ocho {
    /* border:1px solid violet; */
    transform:translate(-50px) translate(15px, -405px);
}