* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

.contenido {
    width:60%;
    margin:0 auto;
}

.ej {
    border:1px solid black;
    margin-bottom: 2%;
    padding: 2%;
}

h1, h2 {
    text-align: center;
    width: 100%;
    border-bottom: 2px solid black;
    margin-bottom: 1%;
    font-family: 'Indie Flower', cursive;
}

.resul {
    background-color: rgb(234, 244, 253);
    padding: 2%;
    
    margin-top: 2%;
    font-family: 'Indie Flower', cursive;
    font-size: 1.2rem;
}

.resul > * {
    width: 60%;
    margin: 0 auto;
}

input {
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(0, 24, 44);
}

option {
    width: 40%;
}